@using TestChat.Models.ViewModels
@model ChatViewModel
@{
    ViewBag.Title = "Chat";
}

<div class="chat">
    <div id="results" class="results scrollable chat-view">
    </div>
    <div class="newMessages">New mesages</div>
    <div class="chat-input">
        <input class="message-text" placeholder="Your message..." type="text" name="Message" id="input" />
        <button class="message-button" id="go" type="submit">Go</button>
    </div>
</div>
<script src="~/signalr/hubs"></script>

<script>
    $(document).ready(function () {

        function formatString(number, digits) {
            var numberString = "" + number;
            while (numberString.length < digits)
                numberString = "0" + digits;
            return numberString;
        }
        var chat = $.connection.chutHub;
        var newMessageDiv = $(".newMessages");

        var myConnection = $.connection("/chat");
        myConnection.start();
        myConnection.received(function (data) {
            console.log(data);
        });
        newMessageDiv.bind("click", function () {
            scrollToBotton();
        });
        function scrollToBotton() {
            newMessageDiv.hide();
            $(".scrollable").scrollTop($(".scrollable")[0].scrollHeight);
        }

        $("#results").scroll(function () {
            if ($(".scrollable").scrollTop() == 0) {
                var id = $(".id").first().text();
                $.get("@Url.Action("GetPreviousMessages","Home")", { id: id }, function (data) {
                    $(".results").prepend(data);
                    var v = $(".id:contains('" + id + "')").parent().text();
                    var top = $(".id:contains('" + id + "')").parent().position().top;
                    $(".scrollable").scrollTop(top);
                });
            }
            if ($(".scrollable")[0].scrollHeight - ($(".scrollable").scrollTop() + $(".scrollable").height()) < $(".message").last().height()) {
                newMessageDiv.hide();
            }
        });
        $("#results").load("@Url.Action("Messages","Home")", { MessagesCount: 10 }, function () {
            scrollToBotton();});
        function sendMessage(message) {
            $.get("@Url.Action("SendMessage", "Home")", { Message: message, MessageStatus: "New" }, function () {
                $("#input")[0].value = "";
            });
        }
        function sendMessageFromInput() {
            sendMessage($("#input")[0].value);
        }
        $("#go").bind("click", sendMessageFromInput);
        $("#input").bind("keypress", function (e) {
            if (e.keyCode == 13) {
                sendMessageFromInput();
            }
        });
        chat.client.addMessage = function (message) {
            function getLementsHtml(message) {
                var date = new Date(message.Time);
                return "<div class=\"message\">" +
                    "<img class=\"avatar\" src=\"/Account/GetImage?email=" + encodeURIComponent(message.User) + "\"/>" +
                    "<div class=\"text-content\">" +
                    "<span class=\"name\">" +
                    message.User +
                    " </span>" +
                    "<span class=\"time\">" +
                    formatString(date.getHours(), 2) + ":" +
                    formatString(date.getMinutes(), 2) + ":" +
                    formatString(date.getSeconds(), 2) +
                    "</span>" +
                    "<div class=\"inlet-text\">" +
                    message.Message +
                    "</div>" +
                    "<div class=\"id\" hidden=\"hidden\">" +
                    message.Id +
                    "</div></div></div>";
            }
            var currentScrollHeight = $(".scrollable").scrollTop() + $(".scrollable").height();
            var totalScrollHeight = $(".scrollable")[0].scrollHeight;
            var lastMessageHeight = $(".message").last().height();
            var inBottom = totalScrollHeight - currentScrollHeight < lastMessageHeight;
            $(".results").append(getLementsHtml(message));
            if (inBottom)
                $(".scrollable").animate({ scrollTop: $(".scrollable")[0].scrollHeight},500);
             //   scrollToBotton();
        }
        $.connection.hub.start().done(function () {
        });

    });
</script>