@using TestChat.Models.ViewModels
@model ChatViewModel
@{
    ViewBag.Title = "Chat";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

<div class="row">
    <div class="col-md-12">
        <div id="results" class="scrollable"></div>
      
        <div>
            <input type="text" name="Message" id="input" />
            <input id="go" type="submit" value="Go" />
        </div>
        @using (Ajax.BeginForm("Messages", "Home", new AjaxOptions { UpdateTargetId = "results", InsertionMode = InsertionMode.Replace }))
        {
            <div>
                <input hidden="hidden" id="goHidden" type="submit" value="Go" />
            </div>
        }

    </div>
</div>
<script>
    $(document).ready(function () {
        var prevCount = 0;
        function scrollToBotton() {
            $(".scrollable").scrollTop($(".scrollable")[0].scrollHeight);
        }
        var uri =  @Html.Raw(HttpUtility.JavaScriptStringEncode(
                  new Uri(new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
                  Url.Content("~/Home/Messages")
                  ).ToString(), true));
        function sendMessage(message) {
            prevCount = $(".message").length;
            $("#results").load(uri, { Message: message }, function () {
                if (message) {
                    $("#input")[0].value = "";
                }
                var count = $(".message").length;
                if (count != prevCount) {
                    scrollToBotton();
                }
            });       
        }
        $("#go").click(function () {
            sendMessage($("#input")[0].value);
        });
        function autoClick() {
            sendMessage("");
        }
        autoClick();
        setInterval(autoClick, 1000);
    });
</script>

