
@{
    ViewBag.Title = "JavascriptEvents";
}

<h2>JavascriptEvents</h2>
<div class="rectBig">
    <div id="test" class="rect"></div>
</div>
<a href="http://google.com" class="link">google</a>
@Scripts.Render("~/bundles/Events")