@using TestChat.Models.ViewModels
@model ChatViewModel
@{
    ViewBag.Title = "Chat";
}
@if (Model?.Messages != null)
{
    foreach (var message in Model?.Messages)
        {
            <div class="message">
                <span class="name">@message.User</span>
                <span class="time">@message.Time</span>
                <div class="inlet-text">@message.Message</div>
                <br />
            </div>
        }
}
