
@{
    ViewBag.Title = "TestForm";
}

<form name="testForm">
    <input type="text" name="input1" />
    <input type="text" name="testInput" />
    <input type="button" name="send" id="btn" />
</form>
@Scripts.Render("~/bundles/TestForm")