@font-face {
    font-family: UbuntuMono;
    src: url('../fonts/UbuntuMono-R.ttf') format('truetype');
}
body {
    font-family: UbuntuMono;
}
.avatar{
    width:100px;
}

.scrollable {
    height: 300px;
    overflow-y: scroll;
}
.menu{
}
.header {
    grid-area: header;
    font-size:80px;
}
.menu {
    grid-area: menu;
}
.content {
    grid-area: content;
}
.footer {
    grid-area: footer;
}
.container {
    justify-content: center;
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: "header header header" "menu content content" "footer footer footer";
}
.message-text{
    grid-column:1;
}
.message-button{
    grid-column:2;
}
.chat-view {
    grid-area: chat-view;
}
.chat-input {
    justify-content: stretch;
    grid-area: chat-input;
    display: grid;
    grid-template-columns: auto 80px;
    grid-template-rows: 40px;
}
.chat {
    justify-content: center;
    display: grid;
    grid-template-columns: 500px 40px;
    grid-template-rows: auto;
    grid-template-areas: "chat-view" "chat-input";
}
@media (min-width: 1001px) {
    .container {
        grid-template-columns: 200px 600px 200px;
    }
}
@media (min-width: 800px) and (max-width: 1000px) {
    .container {
        grid-template-columns: 200px 400px 200px;
    }
}
@media (max-width: 799px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: 100px auto auto 100px;
        grid-template-areas: "header" "menu" "content" "footer";
    }
}